*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    
}

#main{
    height: 100%;
    width: 100%;
}

#header{
    height: 15%;
    width: 100%;
    background-color: white;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#logo{
    width: 10%;
    height: 100%;
    background-color: yellowgreen;
}

#logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#page1{
    height: 100%;
    width: 100%;
    background-color: rgb(228, 212, 212);
}

.texts{
    text-align: center;
    font-weight: normal;
    font-size: x-large;
}

.texts:hover{
    color: green;
}

#search{
    padding: 10px;
    border-radius: 50%;
    font-size: x-large;
}

#search:hover{
    background-color: green
}

#login{
    padding: 15px;
    border-radius: 50%;
    font-size: x-large;
}

#login:hover{
   background-color: green;
}

#contact{
    margin-left: 10px;
    font-weight: lighter;
    text-align: center;   
    font-size: x-large;
}

#contact:hover{
    color: green;
}